body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.menubox{
    background-color:black;
    opacity: 0.7;
    color: white;
    width: 100%;
    height: 100px;
    margin: 0;
}
.menubox ul{
    list-style-type: none;
    float: right;
}
.menubox ul li{
    display: inline;
    margin-right: 40px;
    font-size: 24px;
    cursor: pointer;
    text-transform:capitalize;
}
.menubox ul li:hover{
    color: red;
}
.slin{
    display: flex;
}
.secondline1{
    background-color: green;
    color: white;
    width: 50%;
    height: 400px;
    margin: 0;
    /* overflow: hidden; */
    /* display: inline-block; */
}
.secondline1 img{
    width: 100%;
    height: auto;
}
.secondline2{
    background-color: white;
    color: black;
    width: 50%;
    height: 400px;
    padding: 40px 40px 0 40px;
    vertical-align: auto;
    /* display: inline-block; */
}
.thirdline{
    background-color: rgb(93, 182, 177);
    color: white;
    width: 100%;
    height: 100px;
    margin: 0;
}